@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner:wght@400;600;700&family=Inter:wght@400;600;700&display=swap');
.first{
display: flex;
flex-direction: row;
justify-content: space-around
}
.two{
    display: flex;
    flex-direction: row;
}
.second{
    display: flex;
    justify-content: center;
}
*{
    font-family: 'Edu QLD Beginner', cursive;
    font-family: 'Inter', sans-serif;
}


